<!DOCTYPE html>
<html lang="en">
<head>
    <title>Play: Employment Game Prototype</title>
    <meta charset="utf-8">
    
    <script src="static/js/d3.v3.js", type="text/javascript"></script>
    <script src="static/js/nv.d3.js", type="text/javascript"></script>
    <script src="static/js/nvd3/tooltip.js"></script>
    <script src="static/js/nvd3/utils.js"></script>
    <script src="static/js/nvd3/interactiveLayer.js"></script>
    <script src="static/js/nvd3/models/legend.js"></script>
    <script src="static/js/nvd3/models/axis.js"></script>
    <script src="static/js/nvd3/models/scatter.js"></script>
    <script src="static/js/nvd3/models/line.js"></script>
    <script src="static/js/nvd3/models/lineChart.js"></script>
    <link href="static/css/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="static/css/teststyle.css" rel="stylesheet" type="text/css">
    
</head>

<body>

    <div id='top_bar'>
    <div id='title'>
      Interventions
    </div>

    <div id='controls'>
        <!--Interventions-->
        <div id='cen'>
        Name: <input id='username' type='text' value='%(name)s' onchange='update_name();'/>
        <input type='button' value='restart' onclick='doaction("init");'/>
        <input type='button' value='nothing' onclick='doaction("nothing");'/>
        <input type='button' value='High Mobility' onclick='doaction("mobility+");'/>
        <input type='button' value='Standard Mobility' onclick='doaction("mobility-");'/>
        <input type='button' value='Normal Discrimination' onclick='doaction("discriminate-normal");'/>
        <input type='button' value='High Discrimination' onclick='doaction("discriminate-high");'/>
        <input type='button' value='Low Discrimination' onclick='doaction("discriminate-low");'/>
        <input type='button' value='Increase Retention' onclick='doaction("retention+");'/>
        <input type='button' value='Decrease Retention' onclick='doaction("retention-");'/>
        <input type='button' value='Highshool Diploma' onclick='doaction("hs_diploma");'/>
        <input type='button' value='undo' onclick='doaction("undo")';/>
        </div>
    </div>
    </div>
    
      <div id='grid'>
        <svg></svg>
      </div>

      <div class='chart full' id='chart_time'>
        <svg></svg>
      </div>

      <div id='chart_race_pie'>
        <svg></svg>
      </div>

      <div id='chart_race'>
        <svg></svg>
      </div>
      
      <div class='score' id='score'>
            
      </div>
    
    <hr>
    <div id='logo'>
      <img src="/static/img/hi-logos.png" />
    </div>
      
<script>

function update_name() {
    name = document.getElementById('username').value
    var data = new FormData();
    data.append('uuid', '%(uuid)s');
    data.append('name', name);
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/set_name', true);
    xhr.send(data);
}


var chart_time;
nv.addGraph(function() {
    chart_time = nv.models.lineChart()
                    .useInteractiveGuideline(true)
                    .forceY([0, 100])
     .options({
    margin: {left: 100, bottom: 40},
    showXAxis: true,
    showYAxis: true,
    transitionDuration: 250
  })
                    
                    
                    
    chart_time.xAxis     //Chart x-axis settings
      .axisLabel('Time')
      .tickFormat(d3.format(',.2f'));                    
    chart_time.yAxis    
      .tickFormat(d3.format(',.2f'));      
  
    return chart_time;
    });

var chart_race;
nv.addGraph(function() {
    chart_race = nv.models.lineChart()
                    .useInteractiveGuideline(true)
                    .forceY([0, 100])
     .options({
    margin: {left: 50, bottom: 30},
    showXAxis: true,
    showYAxis: true,
    transitionDuration: 250
  })
                    
                    
                    
    chart_time.xAxis     //Chart x-axis settings
      .axisLabel('Time')
      .tickFormat(d3.format(',.2f'));                    
    chart_time.yAxis    
      .axisLabel('Employment')
      .tickFormat(d3.format(',.2f'));      
  
    return chart_race;
    });

var chart_race_pie;
nv.addGraph(function() {
    chart_race_pie = nv.models.pieChart()
       .x(function(d) { return d.label })
       .y(function(d) { return d.value })
       .showLabels(true);
       
    return chart_race_pie;   
  })
                    
    
    

function doaction(action) {
    console.log(action);
    
    var data = new FormData();
    data.append('action', action);
    data.append('uuid', "%(uuid)s");
    
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/play.json', true);
    xhr.onload = update;
    xhr.send(data);
}

function update() {
	data = JSON.parse(this.responseText);
    
    console.log(data);
    steps = data.time[0].values.length;
    score = data.time[0].values[steps-2].y;
    
    
    console.log(steps);
    if (steps==102) {
            document.getElementById("score").className = 'score final';
            document.getElementById("score").innerHTML="FINAL SCORE: <strong>"+score.toFixed(1)+"%%</strong>";
    } else {
            document.getElementById("score").className = 'score';
            document.getElementById("score").innerHTML="SCORE: <strong>"+score.toFixed(1)+"%%</strong>";
    }
    
    d3.select('#chart_time svg')
        .datum(data.time)
        .call(chart_time);
    nv.utils.windowResize(chart_time.update);
    
    d3.select('#chart_race svg')
        .datum(data.race)
        .call(chart_race);
    nv.utils.windowResize(chart_race.update);

    d3.select('#chart_race_pie svg')
        .datum(data.race_pie)
        .call(chart_race_pie);
    nv.utils.windowResize(chart_race_pie.update);

    update_grid(data.grid);    
}

doaction('init');

function update_grid(grid_data) {
    var width = 300.0;
    var height = 300.0;
    var cols = 14;
    var rows = 14;
    
    svg = d3.select('#grid svg')
    svg.selectAll("*").remove()    
    grid = svg.append('g');

    var dx = width / cols;
    var dy = height / rows;
    if (dy < dx) dx = dy;
    else dy = dx;
    
    
    
    for (var i=0; i<grid_data.length; i++) {
        
        if (grid_data[i].type == 'person') {
            x = (grid_data[i].x + 0.5) * dx;
            y = (grid_data[i].y + 0.5) * dy;
            transform = 'translate(' + x + ' ' + y + ')';
            grid.append('circle')
                         .attr('r', dx/2-1)
                         .attr('fill', grid_data[i].color)
                         .attr('transform', transform);
        } else {
            x = (grid_data[i].x) * dx;
            y = (grid_data[i].y) * dy;
            transform = 'translate(' + x + ' ' + y + ')';
            grid.append('rect')
                .attr('width', dx)
                .attr('height', dx)
                .attr('fill', grid_data[i].color)
                .attr('transform', transform);
                
        
        
        }
    }
}    


</script>      
      
</body>
</html>
